venv*
temp
TODO.md
*.pkl
car_env
mario_env
testimages
deep_learning_data
deep_learning_data_v2
split_deep_learning_data
split_deep_learning_data_v2
data_deep_learning_iris
split_deep_learning_data_iris
DLIngrid
datasetsingrid