venv*
temp
TODO.md
*.pkl
car_env
mario_env
testimages
deep_learning_data
deep_learning_data_v2
deep_learning_data_v3
deep_learning_data_v4
split_deep_learning_data
split_deep_learning_data_v2
split_deep_learning_data_v3
data_deep_learning_iris
split_deep_learning_data_iris
DLIngrid
datasetsingrid
testingDataset
model_v2_iris.h5
model_v3_iris.h5
my_model_v2.h5
my_model_v3.h5
my_model_v4.h5
my_model.h5
goodmaybe.h5
goodmaybe.keras
test
croppeddataingrid
fullimagesizeDL
fullmadness
madness
combinedsplit
dlcombineddata